<h1>New School</h1>

<% if @school.errors.any? %>
    <h3>Oops there were some errors. Please try again:</h3>
    <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @school do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.file_field :logo %>
    <%= f.label :link %>
    <%= f.text_field :link %>
    <%= f.file_field :fee_structure %>
    <%= f.submit  %>
  <% end %>
